# Data cleaning for the used vehicle dataset

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = 'D:\Downloads\Data Analytics\TASK 6'

In [3]:
df = pd.read_csv(os.path.join(path,'Used_cars_precleanExcel.csv'), index_col = False)

In [4]:
# Having a first look at the data to find inconsistencies and to start thinking about what needs to be changed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421344 entries, 0 to 421343
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            421344 non-null  int64
 1   year          421344 non-null  int64
 2   manufacturer  405077 non-null  object
 3   model         416149 non-null  object
 4   cylinders     246585 non-null  object
 5   fuel          419172 non-null  object
 6   price         421344 non-null  int64
 7   odometer      421344 non-null  int64
 8   title_status  413986 non-null  object
 9   transmission  419649 non-null  object
 10  type          329562 non-null  object
 11  paint_color   293254 non-null  object
 12  state         421344 non-null  object
 13  Date posted   421344 non-null  object
dtypes: int64(4), object(10)
memory usage: 45.0+ MB

As we can see, the "type column has about 100,000 missing values compared to the others, and considering that it will be one of the main parts of the research, it will need to be filtered by the available data, as it cannot be assumed.

In [5]:
# Also, lets modify some column names to make it easier to understand.
df.rename(columns = {'year' : 'model year'}, inplace = True)
df.rename(columns = {'odometer' : 'mileage'}, inplace = True)
df.rename(columns = {'title_status' : 'car conditions'}, inplace = True)
df.rename(columns = {'paint_color' : 'car colour'}, inplace = True)
df.rename(columns = {'type' : 'car type'}, inplace = True)

In [6]:
df.isnull().sum()

id                     0
model year             0
manufacturer       16267
model               5195
cylinders         174759
fuel                2172
price                  0
mileage                0
car conditions      7358
transmission        1695
car type           91782
car colour        128090
state                  0
Date posted            0
dtype: int64

Looking further into it, we noticed that there is a lot of missing values for "cylinders" and "car colour" as well.
But those are not fundamental to our research purpose, so we can keep it with the missing values.

The focus will be to remove the rows with missing values that are fundamental, but cannot be assumed. 
Such as "car type", "fuel", "transmission" columns.

Lastly, data that doesn't have the information regarding the "manufacturer","car colour", "car conditions", "cylinder" and "model" will be update to unknown.

In [7]:
df_type_clean = df[df['car type'].isnull() == False]

In [8]:
df_fuel_clean = df_type_clean[df_type_clean['fuel'].isnull() == False]

In [9]:
df_trans_clean = df_fuel_clean[df_fuel_clean['transmission'].isnull() == False]

In [10]:
# Replacing non-essential null values for 'unknown' 
df_trans_clean['manufacturer'].fillna('unknown', inplace=True)

C:\Users\anegl\AppData\Local\Temp\ipykernel_24284\2896625644.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trans_clean['manufacturer'].fillna('unknown', inplace=True)

In [11]:
df_trans_clean['car colour'].fillna('unknown', inplace=True)

C:\Users\anegl\AppData\Local\Temp\ipykernel_24284\3475911822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trans_clean['car colour'].fillna('unknown', inplace=True)

In [12]:
df_trans_clean['car conditions'].fillna('unknown', inplace=True)

C:\Users\anegl\AppData\Local\Temp\ipykernel_24284\242294730.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trans_clean['car conditions'].fillna('unknown', inplace=True)

In [13]:
df_trans_clean['cylinders'].fillna('unknown', inplace=True)

C:\Users\anegl\AppData\Local\Temp\ipykernel_24284\1858296371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trans_clean['cylinders'].fillna('unknown', inplace=True)

In [14]:
df_trans_clean['model'].fillna('unknown', inplace=True)

C:\Users\anegl\AppData\Local\Temp\ipykernel_24284\3802012966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trans_clean['model'].fillna('unknown', inplace=True)

In [15]:
df_trans_clean.isnull().sum()

id                0
model year        0
manufacturer      0
model             0
cylinders         0
fuel              0
price             0
mileage           0
car conditions    0
transmission      0
car type          0
car colour        0
state             0
Date posted       0
dtype: int64

In [16]:
# Checking as well for duplicates
df_dupe = df_trans_clean[df_trans_clean.duplicated()]

In [17]:
df_dupe

Empty DataFrame
Columns: [id, model year, manufacturer, model, cylinders, fuel, price, mileage, car conditions, transmission, car type, car colour, state, Date posted]
Index: []

In [18]:
# Now let's revisit the dataframe
df_clean = df_trans_clean

In [19]:
df_clean

,id,model year,manufacturer,model,cylinders,fuel,price,mileage,car conditions,transmission,car type,car colour,state,Date posted
0,7317096748,2018,chevrolet,silverado 1500,8 cylinders,gas,34000,28000,lien,automatic,truck,white,wv,04/05/2021
1,7317101084,2007,ford,f250 superduty 4wd xl,8 cylinders,gas,8975,140098,clean,automatic,truck,white,wi,04/05/2021
2,7317098990,2007,ford,f250 xl 4wd,8 cylinders,gas,8975,140980,clean,automatic,pickup,white,wi,04/05/2021
3,7317098055,2009,toyota,corolla,4 cylinders,gas,4000,132000,clean,automatic,sedan,red,wi,04/05/2021
4,7317085372,2018,ford,f-150,8 cylinders,gas,32489,40851,clean,automatic,pickup,custom,tn,04/05/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421332,7301590088,2009,nissan,altima,4 cylinders,gas,3350,158000,clean,automatic,sedan,blue,co,04/04/2021
421336,7301583505,2013,dodge,dart,4 cylinders,gas,119,71800,unknown,automatic,sedan,unknown,wi,04/04/2021
421337,7301589688,2000,mercury,grand marquis,8 cylinders,gas,4500,140000,clean,automatic,sedan,blue,ca,04/04/2021
421342,7301587431,2002,ford,f-150,8 cylinders,gas,6500,211000,clean,automatic,pickup,black,ca,04/04/2021
421343,7301584031,2003,chevrolet,venture van,6 cylinders,gas,1000,134950,clean,automatic,mini-van,white,ca,04/04/2021

In [20]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 326237 entries, 0 to 421343
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              326237 non-null  int64
 1   model year      326237 non-null  int64
 2   manufacturer    326237 non-null  object
 3   model           326237 non-null  object
 4   cylinders       326237 non-null  object
 5   fuel            326237 non-null  object
 6   price           326237 non-null  int64
 7   mileage         326237 non-null  int64
 8   car conditions  326237 non-null  object
 9   transmission    326237 non-null  object
 10  car type        326237 non-null  object
 11  car colour      326237 non-null  object
 12  state           326237 non-null  object
 13  Date posted     326237 non-null  object
dtypes: int64(4), object(10)
memory usage: 37.3+ MB

In [21]:
# Now, lets create a new column based on the mileage, to determine if the cars are in any of the categories below:
# 'New','Very low mileage', 'Low mileage', 'Decent mileage', 'High mileage', 'Very high mileage'

In [22]:
df_clean['mileage category'] = df_clean['mileage']

C:\Users\anegl\AppData\Local\Temp\ipykernel_24284\2723514974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['mileage category'] = df_clean['mileage']

In [23]:
df_clean.loc[df_clean['mileage'] < 500, 'mileage category']='new'
df_clean.loc[(df_clean['mileage'] >= 500)&(df_clean['mileage'] <10000), 'mileage category']='very low mileage'
df_clean.loc[(df_clean['mileage'] >= 10000)&(df_clean['mileage'] <50000), 'mileage category']='low mileage'
df_clean.loc[(df_clean['mileage'] >= 50000)&(df_clean['mileage'] <100000), 'mileage category']='decent mileage'
df_clean.loc[(df_clean['mileage'] >= 100000)&(df_clean['mileage'] <200000), 'mileage category']='high mileage'
df_clean.loc[df_clean['mileage'] >= 200000, 'mileage category']='very high mileage'

C:\Users\anegl\AppData\Local\Temp\ipykernel_24284\1458956860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.loc[df_clean['mileage'] < 500, 'mileage category']='new'

In [24]:
df_clean['mileage category'].value_counts(dropna=False)

high mileage         110069
low mileage           89958
decent mileage        87634
very low mileage      17077
very high mileage     16125
new                    5374
Name: mileage category, dtype: int64

In [25]:
# And, lets create a new column based on the price, to determine if the cars are in any of the categories below:
# 'Very cheap','Cheap', 'Afordable', 'Expensive', 'Very Expensive'

In [26]:
df_clean['price category'] = df_clean['price']

C:\Users\anegl\AppData\Local\Temp\ipykernel_24284\929057982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['price category'] = df_clean['price']

In [29]:
df_clean.loc[df_clean['price'] < 1000, 'price category']='very cheap'
df_clean.loc[(df_clean['price'] >= 1000)&(df_clean['price'] <10000), 'price category']='cheap'
df_clean.loc[(df_clean['price'] >= 10000)&(df_clean['price'] <30000), 'price category']='afordable'
df_clean.loc[(df_clean['price'] >= 30000)&(df_clean['price'] <80000), 'price category']='expensive'
df_clean.loc[df_clean['price'] >= 80000, 'price category']='very expensive'

In [30]:
df_clean['price category'].value_counts(dropna=False)

afordable         139403
cheap              89286
expensive          63714
very cheap         32661
very expensive      1173
Name: price category, dtype: int64

In [31]:
# Exporting data to .csv to continue reviewing the data in Excel
df_clean.to_csv(os.path.join(path,'df_clean.csv'))